.tab-container {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  padding: 10px 0;
  /* border-bottom: 1px solid #333; */
}

.tab-item {
  position: relative;
  padding: 8px 12px;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-item.active {
  color: white;
  font-weight: 600;
}

.tab-item.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  width: calc(100% - 24px);
}
